<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render "shared/user_info" %>
      </section>
      <section>
        <%= render "shared/stats" %>
      </section>
      <section>
        <%= render "shared/bookmark_form" %>
      </section>
    </aside>
    <div class="row">
      <div class="span8">
        <h3>
          Bookmarks
        </h3>
        <%= render "shared/bookmark_feed" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Bookmarker</h1>
    <h2>
      All your bookmarks are belong to us!
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>